---
import Layout from '../layouts/Page.astro';

import { getFirstBlogPost } from '../lib/api';

const firstPost = await getFirstBlogPost();
---

<Layout>
	<main>
		<h1>Welcome to <span class="text-gradient">Sanity + Astro Crash Course</span></h1>
		<p>
      {JSON.stringify(firstPost)}
    </p>
	</main>
</Layout>
